<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.manager.model.dao.ManagerDataMapper">

    <resultMap id="managerScheduleResultMap" type="com.ohgiraffers.semiproject.manager.model.dto.ManagerScheduleDTO">
        <id property="workCode" column="work_code"/>
        <result property="empCode" column="emp_code"/>
        <result property="workType" column="work_type"/>
        <result property="workStartTime" column="workstart_time"/>
        <result property="workEndTime" column="workend_time"/>
        <result property="workDate" column="work_date"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="division" column="division"/>
        <result property="workModifyReason" column="workmodify_reason"/>
        <result property="managerIdea" column="manager_idea"/>
        <result property="progressCode" column="progress_code"/>
        <result property="adminCode" column="admin_code"/>
        <association property="employeeJoinListDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.EmployeeJoinListDTO">
            <id property="empCode" column="emp_code"/>
            <result property="empPass" column="emp_pass"/>
            <result property="empName" column="emp_name"/>
            <result property="empEmail" column="emp_email"/>
            <result property="empPhone" column="emp_phone"/>
            <result property="hireDate" column="hire_date"/>
            <result property="entDate" column="ent_date"/>
            <result property="empGender" column="emp_gender"/>
            <result property="empAddress" column="emp_address"/>
            <result property="jobCode" column="job_code"/>
            <result property="deptCode" column="dept_code"/>
            <result property="authority" column="authority"/>
            <result property="profile_image" column="profile_image"/>
            <association property="deptDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.DeptDTO">
                <id property="deptCode" column="dept_code"/>
                <result property="deptName" column="dept_name"/>
            </association>
            <association property="jobDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.JobDTO">
                <id property="jobCode" column="job_code"/>
                <result property="jobName" column="job_name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="CacPaymentResultMap" type="com.ohgiraffers.semiproject.manager.model.dto.CacPaymentDTO">
        <id property="documentNo" column="document_no"/>
        <result property="empCode" column="emp_code"/>
        <result property="deadLineDate" column="deadline_date"/>
        <result property="type" column="type"/>
        <result property="cacStartDate" column="cac_start_date"/>
        <result property="cacEndDate" column="cac_end_date"/>
        <result property="cacReason" column="cac_reason"/>
        <result property="accountNum" column="account_number"/>
        <result property="managerAccept" column="manager_accept"/>
        <result property="presidentAccept" column="president_accept"/>
        <result property="progressCode" column="progress_code"/>
        <result property="adminCode" column="admin_code"/>
        <result property="adminName" column="admin_name"/>
        <result property="ownerCode" column="owner_code"/>
        <association property="userInfo" javaType="com.ohgiraffers.semiproject.employee.model.dto.EmployeeJoinListDTO">
            <id property="empCode" column="emp_code"/>
            <result property="empPass" column="emp_pass"/>
            <result property="empName" column="emp_name"/>
            <result property="empEmail" column="emp_email"/>
            <result property="empPhone" column="emp_phone"/>
            <result property="hireDate" column="hire_date"/>
            <result property="entDate" column="ent_date"/>
            <result property="empGender" column="emp_gender"/>
            <result property="empAddress" column="emp_address"/>
            <result property="jobCode" column="job_code"/>
            <result property="deptCode" column="dept_code"/>
            <result property="authority" column="authority"/>
            <result property="profile_image" column="profile_image"/>
            <association property="deptDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.DeptDTO">
                <id property="deptCode" column="dept_code"/>
                <result property="deptName" column="dept_name"/>
            </association>
            <association property="jobDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.JobDTO">
                <id property="jobCode" column="job_code"/>
                <result property="jobName" column="job_name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="OverTimeResultMap" type="com.ohgiraffers.semiproject.manager.model.dto.OverTimeDTO">
        <id property="documentNo" column="document_no"/>
        <result property="empCode" column="emp_code"/>
        <result property="deadLineDate" column="deadline_date"/>
        <result property="type" column="type"/>
        <result property="overTime" column="overtime"/>
        <result property="overTimeReason" column="overtime_reason"/>
        <result property="managerAccept" column="manager_accept"/>
        <result property="presidentAccept" column="president_accept"/>
        <result property="progressCode" column="progress_code"/>
        <result property="adminCode" column="admin_code"/>
        <result property="adminName" column="admin_name"/>
        <result property="ownerCode" column="owner_code"/>
        <association property="userInfo" javaType="com.ohgiraffers.semiproject.employee.model.dto.EmployeeJoinListDTO">
            <id property="empCode" column="emp_code"/>
            <result property="empPass" column="emp_pass"/>
            <result property="empName" column="emp_name"/>
            <result property="empEmail" column="emp_email"/>
            <result property="empPhone" column="emp_phone"/>
            <result property="hireDate" column="hire_date"/>
            <result property="entDate" column="ent_date"/>
            <result property="empGender" column="emp_gender"/>
            <result property="empAddress" column="emp_address"/>
            <result property="jobCode" column="job_code"/>
            <result property="deptCode" column="dept_code"/>
            <result property="authority" column="authority"/>
            <result property="profile_image" column="profile_image"/>
            <association property="deptDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.DeptDTO">
                <id property="deptCode" column="dept_code"/>
                <result property="deptName" column="dept_name"/>
            </association>
            <association property="jobDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.JobDTO">
                <id property="jobCode" column="job_code"/>
                <result property="jobName" column="job_name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="RetirementResultMap" type="com.ohgiraffers.semiproject.manager.model.dto.RetirementDTO">
        <id property="documentNo" column="document_no"/>
        <result property="empCode" column="emp_code"/>
        <result property="deadLineDate" column="deadline_date"/>
        <result property="type" column="type"/>
        <result property="retireDate" column="retire_date"/>
        <result property="retireReason" column="retire_reason"/>
        <result property="managerAccept" column="manager_accept"/>
        <result property="presidentAccept" column="president_accept"/>
        <result property="progressCode" column="progress_code"/>
        <result property="adminCode" column="admin_code"/>
        <result property="adminName" column="admin_name"/>
        <result property="ownerCode" column="owner_code"/>
        <association property="userInfo" javaType="com.ohgiraffers.semiproject.employee.model.dto.EmployeeJoinListDTO">
            <id property="empCode" column="emp_code"/>
            <result property="empPass" column="emp_pass"/>
            <result property="empName" column="emp_name"/>
            <result property="empEmail" column="emp_email"/>
            <result property="empPhone" column="emp_phone"/>
            <result property="hireDate" column="hire_date"/>
            <result property="entDate" column="ent_date"/>
            <result property="empGender" column="emp_gender"/>
            <result property="empAddress" column="emp_address"/>
            <result property="jobCode" column="job_code"/>
            <result property="deptCode" column="dept_code"/>
            <result property="authority" column="authority"/>
            <result property="profile_image" column="profile_image"/>
            <association property="deptDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.DeptDTO">
                <id property="deptCode" column="dept_code"/>
                <result property="deptName" column="dept_name"/>
            </association>
            <association property="jobDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.JobDTO">
                <id property="jobCode" column="job_code"/>
                <result property="jobName" column="job_name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="VacPaymentResultMap" type="com.ohgiraffers.semiproject.manager.model.dto.VacPaymentDTO">
        <id property="documentNo" column="document_no"/>
        <result property="empCode" column="emp_code"/>
        <result property="deadLineDate" column="deadline_date"/>
        <result property="type" column="type"/>
        <result property="vacStartDate" column="vac_start_date"/>
        <result property="vacEndDate" column="vac_end_date"/>
        <result property="vacReason" column="vac_reason"/>
        <result property="managerAccept" column="manager_accept"/>
        <result property="presidentAccept" column="president_accept"/>
        <result property="progressCode" column="progress_code"/>
        <result property="adminCode" column="admin_code"/>
        <result property="adminName" column="admin_name"/>
        <result property="ownerCode" column="owner_code"/>
        <association property="userInfo" javaType="com.ohgiraffers.semiproject.employee.model.dto.EmployeeJoinListDTO">
            <id property="empCode" column="emp_code"/>
            <result property="empPass" column="emp_pass"/>
            <result property="empName" column="emp_name"/>
            <result property="empEmail" column="emp_email"/>
            <result property="empPhone" column="emp_phone"/>
            <result property="hireDate" column="hire_date"/>
            <result property="entDate" column="ent_date"/>
            <result property="empGender" column="emp_gender"/>
            <result property="empAddress" column="emp_address"/>
            <result property="jobCode" column="job_code"/>
            <result property="deptCode" column="dept_code"/>
            <result property="authority" column="authority"/>
            <result property="profile_image" column="profile_image"/>
            <association property="deptDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.DeptDTO">
                <id property="deptCode" column="dept_code"/>
                <result property="deptName" column="dept_name"/>
            </association>
            <association property="jobDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.JobDTO">
                <id property="jobCode" column="job_code"/>
                <result property="jobName" column="job_name"/>
            </association>
        </association>
    </resultMap>

    <select id="getScheduleList" resultMap="managerScheduleResultMap">
        select
            *
        from
            tbl_work
        where
            admin_code = #{code} and progress_code = 'SU1'
    </select>

    <select id="getCacPaymentList" resultMap="CacPaymentResultMap">
        select
            *
        from
            tbl_cacpayment
        where
            admin_code = #{code} and progress_code = 'SU1'
    </select>

    <select id="getOverTimeList" resultMap="OverTimeResultMap">
        select
            *
        from
            tbl_overtime
        where
            admin_code = #{code} and progress_code = 'SU1'
    </select>

    <select id="getRetirement" resultMap="RetirementResultMap">
        select
            *
        from
            tbl_retirement
        where
            admin_code = #{code} and progress_code = 'SU1'
    </select>

    <select id="getAnnualList" resultMap="VacPaymentResultMap">
        select
            *
        from
            tbl_vacpayment
        where
        admin_code = #{code} and progress_code = 'SU1' and type = '연차'
    </select>

    <select id="getVacationList" resultMap="VacPaymentResultMap">
        select
            *
        from
            tbl_vacpayment
        where
            admin_code = #{code} and progress_code = 'SU1' and type = '휴가'
    </select>
</mapper>